# Product Service
PRODUCT_DATABASE_URL=postgresql://product_user:product_pass@product-db:5432/product_db
PRODUCT_SERVICE_PORT=8081
PRODUCT_LOG_LEVEL=INFO

# Order Service
ORDER_DATABASE_URL=postgresql://order_user:order_pass@order-db:5432/order_db
ORDER_SERVICE_PORT=8082
ORDER_LOG_LEVEL=INFO
PRODUCT_SERVICE_URL=http://product-service:8081/api/v1

# API Gateway
GATEWAY_PORT=80